<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.crizen.mapper.BoardMapper">

	<select id="getList" resultType="counsel">
		SELECT
			COUNSEL_BNO, COUNSEL_TITLE, COUNSEL_WRITER, COUNSEL_UPDATEWRITER,
			DATE_FORMAT(COUNSEL_REGDATE, "%Y-%m-%d") COUNSEL_REGDATE,
			COUNSEL_REPLYCNT
		FROM COUNSEL_INFO
		<where>
		<if test="counsel_type == 'T'.toString()">
			COUNSEL_TITLE LIKE '%${counsel_keyword}%'
		</if>
		<if test="counsel_type == 'C'.toString()">
			COUNSEL_TITLE LIKE '%${counsel_keyword}%'
			OR COUNSEL_CONTENT LIKE '%${counsel_keyword}%'
		</if>
		<if test="counsel_type == 'W'.toString()">
			COUNSEL_UPDATEWRITER LIKE '%${counsel_keyword}%'
		</if>
		<if test="counsel_type == 'D'.toString()">
			COUNSEL_REGDATE LIKE '%${counsel_keyword}%'
		</if>
		</where>
		ORDER BY 1 DESC
	</select>
	
	<select id="read" resultType="counsel">
		SELECT
			COUNSEL_BNO, COUNSEL_TITLE, COUNSEL_CONTENT, COUNSEL_WRITER, COUNSEL_UPDATEWRITER,
			DATE_FORMAT(COUNSEL_REGDATE, "%Y-%m-%d %H:%i:%s") COUNSEL_REGDATE,
			DATE_FORMAT(COUNSEL_UPDATEDATE, "%Y-%m-%d %H:%i:%s") COUNSEL_UPDATEDATE,
			COUNSEL_USERID
		FROM COUNSEL_INFO
		WHERE COUNSEL_BNO = #{counsel_bno}
	</select>
	
	<insert id="insert">
		<selectKey keyProperty="counsel_bno" order="BEFORE" resultType="int">
			SELECT NEXTVAL(SEQ_COUNSEL) FROM DUAL
		</selectKey>
		INSERT INTO COUNSEL_INFO (COUNSEL_BNO, COUNSEL_TITLE, COUNSEL_CONTENT, COUNSEL_WRITER, COUNSEL_UPDATEWRITER, COUNSEL_USERID)
		VALUES (#{counsel_bno}, #{counsel_title}, #{counsel_content}, #{counsel_writer}, #{counsel_writer}, #{counsel_userId})
	</insert>
	
	<update id="update">
		UPDATE COUNSEL_INFO SET
		COUNSEL_TITLE = #{counsel_title}, COUNSEL_CONTENT = #{counsel_content},
		COUNSEL_UPDATEWRITER = #{counsel_writer}, COUNSEL_UPDATEDATE = NOW()
		WHERE COUNSEL_BNO = #{counsel_bno}
	</update>
	
	<delete id="delete">
		DELETE FROM COUNSEL_INFO WHERE COUNSEL_BNO = #{counsel_bno}
	</delete>
	
	<select id="findRemoveList" resultType="counsel">
		<![CDATA[
			SELECT * FROM COUNSEL_INFO WHERE DATEDIFF(COUNSEL_REGDATE, NOW()) <= -5
		]]>
	</select>
	
	<select id="findSlangList" resultType="counsel">
		SELECT
			A.COUNSEL_BNO,
			REGEXP_REPLACE(A.COUNSEL_TITLE, (SELECT GROUP_CONCAT(COUNSEL_SLANG SEPARATOR "|") FROM COUNSEL_SLANG), '*****') COUNSEL_TITLE,
			REGEXP_REPLACE(A.COUNSEL_CONTENT, (SELECT GROUP_CONCAT(COUNSEL_SLANG SEPARATOR "|") FROM COUNSEL_SLANG), '*****') COUNSEL_CONTENT,
			REGEXP_REPLACE(A.COUNSEL_WRITER, (SELECT GROUP_CONCAT(COUNSEL_SLANG SEPARATOR "|") FROM COUNSEL_SLANG), '*****') COUNSEL_WRITER,
			REGEXP_REPLACE(A.COUNSEL_UPDATEWRITER, (SELECT GROUP_CONCAT(COUNSEL_SLANG SEPARATOR "|") FROM COUNSEL_SLANG), '*****') COUNSEL_UPDATEWRITER
		FROM (
			SELECT * FROM COUNSEL_INFO
			WHERE CONCAT(COUNSEL_TITLE, COUNSEL_CONTENT, COUNSEL_WRITER) REGEXP (SELECT GROUP_CONCAT(COUNSEL_SLANG SEPARATOR "|") FROM COUNSEL_SLANG)
		) A
	</select>
	
	<select id="getSlangList" resultType="slang">
		SELECT * FROM COUNSEL_SLANG
	</select>
	
	<insert id="addSlang">
		INSERT INTO COUNSEL_SLANG VALUES (#{counsel_slang})
	</insert>
	
	<delete id="removeSlang">
		DELETE FROM COUNSEL_SLANG WHERE COUNSEL_SLANG = #{counsel_slang}
	</delete>
	
	<update id="updateReplyCnt">
		UPDATE COUNSEL_INFO SET COUNSEL_REPLYCNT = COUNSEL_REPLYCNT + #{amount} WHERE COUNSEL_BNO = #{counsel_bno}
	</update>
	
	<update id="changeSlang">
		UPDATE COUNSEL_INFO SET
		COUNSEL_TITLE = #{counsel_title}, COUNSEL_CONTENT = #{counsel_content},
		COUNSEL_WRITER = #{counsel_writer}, COUNSEL_UPDATEWRITER = #{counsel_updateWriter}
		WHERE COUNSEL_BNO = #{counsel_bno}
	</update>
</mapper>