<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.crizen.mapper.BoardMapper">

	<select id="getList" resultType="counsel">
		SELECT
			COUNSEL_BNO, COUNSEL_TITLE, COUNSEL_WRITER,
			DATE_FORMAT(COUNSEL_REGDATE, "%Y-%m-%d") COUNSEL_REGDATE
		FROM COUNSEL_INFO ORDER BY 1 DESC
	</select>
	
	<select id="read" resultType="counsel">
		SELECT
			COUNSEL_BNO, COUNSEL_TITLE, COUNSEL_CONTENT, COUNSEL_WRITER,
			DATE_FORMAT(COUNSEL_REGDATE, "%Y-%m-%d %H:%i:%s") COUNSEL_REGDATE
		FROM COUNSEL_INFO
		WHERE COUNSEL_BNO = #{counsel_bno}
	</select>
	
	<insert id="insert">
		<selectKey keyProperty="counsel_bno" order="BEFORE" resultType="int">
			SELECT NEXTVAL(SEQ_COUNSEL) FROM DUAL
		</selectKey>
		INSERT INTO COUNSEL_INFO (COUNSEL_BNO, COUNSEL_TITLE, COUNSEL_CONTENT, COUNSEL_WRITER)
		VALUES (#{counsel_bno}, #{counsel_title}, #{counsel_content}, #{counsel_writer})
	</insert>
	
	<update id="update">
		UPDATE COUNSEL_INFO SET
		COUNSEL_TITLE = #{counsel_title}, COUNSEL_CONTENT = #{counsel_content} WHERE COUNSEL_BNO = #{counsel_bno}
	</update>
	
	<delete id="delete">
		DELETE FROM COUNSEL_INFO WHERE COUNSEL_BNO = #{counsel_bno}
	</delete>
</mapper>